.active-tab {
  color: var(--text-h);
  border-bottom-color: var(--accent);
}

.inactive-tab {
  color: var(--text);
  border-bottom-color: transparent;
}

.inactive-tab:hover {
  color: var(--text-h);
}
